In [1]:
# Home Appliances Data
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel('../data/home.xlsx')

In [5]:
df.head()

,device,building,floor,room,type,power,date,from_time,to_time,no_of_people,time_stayed_mins
0,AC,1,1,101.0,indoor,1500,2018-06-18,09:00:00,10:00:00,1,10
1,AC,1,1,102.0,indoor,1600,2018-06-18,09:00:00,10:00:00,1,20
2,AC,1,1,103.0,indoor,1400,2018-06-18,09:00:00,10:00:00,2,25
3,AC,1,1,104.0,indoor,1450,2018-06-18,09:00:00,10:00:00,0,0
4,AC,1,1,105.0,indoor,1550,2018-06-18,09:00:00,10:00:00,0,0