In [1]:
# Home Appliances Data
import numpy as np
import pandas as pd
import pdb
import matplotlib.pyplot as plt
import ast

In [2]:
# Import Dataset
df = pd.read_csv('../data/home_data.csv')

In [3]:
df_devices = df.groupby(['from_time', 'device', 'type']).mean()['power']

In [4]:
from_times = df['from_time'].unique()
devices = df['device'].unique()
types = df['type'].unique()

In [5]:
dd = {}
types_dict = {}
devices_dict = {}
from_times_dict = {} 

for i in types:
    types_dict[i] = 0

for j in devices:
    devices_dict[j] = types_dict

for k in from_times:
    from_times_dict[k] = devices_dict

In [6]:
dd = from_times_dict
i = -1
for time, app in dd.items():
    for appl, inout in app.items():
        inout["indoor"] = df_devices[i+1]
        inout["outdoor"] = df_devices[i+2]
        i += 1

In [7]:
df_devices[0]

1362.2142857142858

In [8]:
df.head(20)

,device,building,floor,room,type,power,date,from_time,to_time,no_of_people,time_stayed_mins
0,AC,1,1,101.0,indoor,1363,2018-01-01,04:00:00,05:00:00,9,7
1,Computer,1,1,101.0,indoor,487,2018-01-27,08:00:00,09:00:00,0,17
2,Computer,1,1,101.0,indoor,464,2018-01-29,05:00:00,06:00:00,1,16
3,Computer,1,1,101.0,indoor,389,2018-01-30,01:00:00,02:00:00,8,27
4,Computer,1,1,101.0,indoor,338,2018-01-30,08:00:00,09:00:00,2,4
5,Computer,1,1,101.0,indoor,384,2018-01-31,08:00:00,09:00:00,5,15
6,Computer,1,1,101.0,indoor,420,2018-01-31,18:00:00,19:00:00,8,1
7,Heater,1,1,101.0,indoor,2185,2018-01-21,08:00:00,09:00:00,6,9
8,Heater,1,1,101.0,indoor,1772,2018-01-21,21:00:00,22:00:00,2,0
9,Heater,1,1,101.0,indoor,2444,2018-01-22,00:00:00,01:00:00,8,21
10,Lights,1,1,101.0,indoor,1928,2018-01-07,16:00:00,17:00:00,9,18
11,Lights,1,1,101.0,indoor,1454,2018-01-08,10:00:00,11:00:00,3,16
12,Lights,1,1,101.0,indoor,1337,2018-01-09,08:00:00,09:00:00,10,25
13,Lights,1,1,101.0,indoor,1669,2018-01-09,17:00:00,18:00:00,4,15
14,Microwave,1,1,101.0,indoor,1578,2018-01-26,01:00:00,02:00:00,4,12
15,Refridgerator,1,1,101.0,indoor,168,2018-01-17,09:00:00,10:00:00,0,25
16,Television,1,1,101.0,indoor,280,2018-01-11,12:00:00,13:00:00,4,6
17,Television,1,1,101.0,indoor,207,2018-01-13,00:00:00,01:00:00,8,2
18,Television,1,1,101.0,indoor,275,2018-01-13,09:00:00,10:00:00,10,30
19,AC,1,1,102.0,indoor,1942,2018-01-03,06:00:00,07:00:00,5,29

In [12]:
df_devices = df_devices.reset_index()

target_dict = {}

for index, row in df_devices.iterrows():
#     print(row['from_time'], row['device'], row['type'])
    power = df.loc[(df['from_time'] == row['from_time']) & (df['device'] == row['device']) & (df['type'] == row['type'])]['power']
    
    for p in power:
        if p > row['power']:
            target_dict[index] = 1
        else:
            target_dict[index] = 0
            
target_dict

{0: 0,
 1: 1,
 2: 0,
 3: 0,
 4: 1,
 5: 1,
 6: 1,
 7: 0,
 8: 1,
 9: 1,
 10: 0,
 11: 0,
 12: 0,
 13: 0,
 14: 1,
 15: 0,
 16: 1,
 17: 1,
 18: 0,
 19: 0,
 20: 0,
 21: 0,
 22: 0,
 23: 0,
 24: 1,
 25: 1,
 26: 0,
 27: 1,
 28: 0,
 29: 0,
 30: 0,
 31: 0,
 32: 0,
 33: 0,
 34: 1,
 35: 1,
 36: 0,
 37: 0,
 38: 1,
 39: 1,
 40: 0,
 41: 1,
 42: 1,
 43: 1,
 44: 0,
 45: 1,
 46: 0,
 47: 0,
 48: 1,
 49: 0,
 50: 0,
 51: 0,
 52: 0,
 53: 0,
 54: 1,
 55: 0,
 56: 0,
 57: 1,
 58: 1,
 59: 1,
 60: 1,
 61: 0,
 62: 1,
 63: 1,
 64: 0,
 65: 1,
 66: 1,
 67: 1,
 68: 1,
 69: 0,
 70: 1,
 71: 1,
 72: 1,
 73: 1,
 74: 0,
 75: 0,
 76: 0,
 77: 1,
 78: 1,
 79: 0,
 80: 1,
 81: 0,
 82: 0,
 83: 0,
 84: 1,
 85: 0,
 86: 1,
 87: 0,
 88: 0,
 89: 1,
 90: 0,
 91: 1,
 92: 0,
 93: 1,
 94: 1,
 95: 1,
 96: 0,
 97: 1,
 98: 0,
 99: 1,
 100: 0,
 101: 1,
 102: 1,
 103: 1,
 104: 1,
 105: 0,
 106: 1,
 107: 0,
 108: 1,
 109: 1,
 110: 1,
 111: 0,
 112: 0,
 113: 1,
 114: 1,
 115: 1,
 116: 1,
 117: 0,
 118: 1,
 119: 0,
 120: 0,
 121: 0,
 122: 0,
 123: 0,
 124: 0,
 125: 1,
 126: 1,
 127: 0,
 128: 1,
 129: 1,
 130: 0,
 131: 1,
 132: 0,
 133: 1,
 134: 0,
 135: 0,
 136: 0,
 137: 0,
 138: 0,
 139: 1,
 140: 1,
 141: 1,
 142: 0,
 143: 1,
 144: 1,
 145: 1,
 146: 0,
 147: 0,
 148: 1,
 149: 1,
 150: 0,
 151: 1,
 152: 0,
 153: 0,
 154: 1,
 155: 1,
 156: 0,
 157: 0,
 158: 1,
 159: 0,
 160: 1,
 161: 0,
 162: 0,
 163: 1,
 164: 0,
 165: 0,
 166: 1,
 167: 1,
 168: 0,
 169: 1,
 170: 1,
 171: 1,
 172: 0,
 173: 1,
 174: 0,
 175: 0,
 176: 1,
 177: 1,
 178: 0,
 179: 0,
 180: 0,
 181: 0,
 182: 1,
 183: 1,
 184: 1,
 185: 0,
 186: 1,
 187: 0,
 188: 1,
 189: 1,
 190: 1,
 191: 0,
 192: 0,
 193: 1,
 194: 1,
 195: 1,
 196: 0,
 197: 0,
 198: 1,
 199: 0,
 200: 1,
 201: 1,
 202: 0,
 203: 0,
 204: 1,
 205: 0,
 206: 1,
 207: 0,
 208: 1,
 209: 0,
 210: 1,
 211: 0,
 212: 0,
 213: 0,
 214: 0,
 215: 1,
 216: 1,
 217: 1,
 218: 1,
 219: 0,
 220: 0,
 221: 1,
 222: 0,
 223: 1,
 224: 0,
 225: 0,
 226: 1,
 227: 0,
 228: 0,
 229: 1,
 230: 1,
 231: 0,
 232: 0,
 233: 0,
 234: 1,
 235: 1,
 236: 0,
 237: 0,
 238: 1,
 239: 1,
 240: 1,
 241: 0,
 242: 1,
 243: 1,
 244: 1,
 245: 0,
 246: 1,
 247: 0,
 248: 0,
 249: 0,
 250: 0,
 251: 1,
 252: 0,
 253: 0,
 254: 0,
 255: 1,
 256: 0,
 257: 0,
 258: 1,
 259: 1,
 260: 1,
 261: 0,
 262: 0,
 263: 0,
 264: 1,
 265: 1,
 266: 0,
 267: 0,
 268: 0,
 269: 0,
 270: 1,
 271: 1,
 272: 1,
 273: 1,
 274: 1,
 275: 1,
 276: 0,
 277: 0,
 278: 1,
 279: 0,
 280: 1,
 281: 0,
 282: 0,
 283: 0,
 284: 0,
 285: 1,
 286: 1,
 287: 1,
 288: 0,
 289: 1,
 290: 1,
 291: 1,
 292: 1,
 293: 0,
 294: 0,
 295: 1,
 296: 1,
 297: 1,
 298: 1,
 299: 0,
 300: 1,
 301: 1,
 302: 1,
 303: 0,
 304: 1,
 305: 1,
 306: 0,
 307: 0,
 308: 0,
 309: 0,
 310: 0,
 311: 1,
 312: 1,
 313: 0,
 314: 0,
 315: 1,
 316: 0,
 317: 1,
 318: 0,
 319: 0,
 320: 0,
 321: 1,
 322: 1,
 323: 0,
 324: 1,
 325: 1,
 326: 0,
 327: 0,
 328: 1,
 329: 0,
 330: 0,
 331: 1,
 332: 0,
 333: 1,
 334: 0,
 335: 0}

In [10]:
powers

NameError: name 'powers' is not defined