# Applying Machine Learning and Deep Learning to identify home appliances consuming excess power

## Copyright (c) 2018, Faststream Technologies
## Author: Sudhanva Narayana

In [1]:
# Home Appliances Data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import Dataset
df = pd.read_csv('../../data/home_data.csv')

### Dataset

In [3]:
df.head()

,device,building,floor,room,type,power,date,from_time,to_time,no_of_people,time_stayed_mins
0,AC,1,1,101,indoor,1363,01-01-2018,04:00:00,05:00:00,9,7
1,Computer,1,1,101,indoor,487,27-01-2018,08:00:00,09:00:00,0,0
2,Computer,1,1,101,indoor,464,29-01-2018,05:00:00,06:00:00,1,16
3,Computer,1,1,101,indoor,389,30-01-2018,01:00:00,02:00:00,8,27
4,Computer,1,1,101,indoor,338,30-01-2018,08:00:00,09:00:00,2,4

### Group by room and time

In [4]:
df_morning = df[df['from_time'] == '00:00:00' ]
df_people_room = df_morning.groupby(['room', 'time_stayed_mins']).sum()['no_of_people']
df_people_room

room  time_stayed_mins
0     0                    0
      1                   16
      2                    6
      3                   15
      4                    6
      5                   13
      6                   17
      7                   24
      8                   16
      9                   38
      10                  23
      11                   4
      12                  27
      13                   9
      14                   6
      15                  10
      16                  41
      17                  12
      18                  21
      19                  23
      20                  13
      21                  15
      22                   1
      23                  13
      24                   8
      25                  21
      26                  12
      27                  13
      28                  22
      30                  20
                          ..
803   19                   7
804   7                   10
      20                   6
805   23                   2
      24                   1
806   16                   9
807   8                    8
      14                   7
      21                   2
901   0                    0
      17                   1
902   6                    7
      12                   3
      14                   4
903   5                    1
      8                   10
      30                   3
904   0                    0
      21                   8
905   20                   7
907   5                    7
1001  9                    7
1002  27                   1
1003  3                    1
      10                   4
      27                   1
1004  0                    0
      13                   8
1006  3                    2
1007  27                   4
Name: no_of_people, Length: 134, dtype: int64