# Applying Machine Learning and Deep Learning to identify home appliances consuming excess power

## Copyright (c) 2018, Faststream Technologies
## Author: Sudhanva Narayana

In [1]:
# Home Appliances Data
import numpy as np
import pandas as pd
import pdb
import matplotlib.pyplot as plt

In [2]:
# Import Dataset
df = pd.read_csv('../../data/home_data.csv')

In [3]:
# Group by time, device and type and calculate mean on power
df_devices = df.groupby(['from_time', 'device', 'type']).mean()['power']

### Create a data structure of mean power consumption

In [4]:
# Unstack index and convert to a dictionary
dicto = df_devices.unstack(level=1).unstack().to_dict('index')

# Create dictionary for types and devices
df_dict = {}
df_type = {}

# Update tuple based keys to string based keys
for i, j in dicto.items():
    for key, value in j.items():
        df_type[key[1]] = value
        df_dict[key[0]] = df_type.copy()
    dicto[i] = df_dict.copy()

In [5]:
df.head()

,device,building,floor,room,type,power,date,from_time,to_time,no_of_people,time_stayed_mins
0,AC,1,1,101,indoor,1363,01-01-2018,04:00:00,05:00:00,9,7
1,Computer,1,1,101,indoor,487,27-01-2018,08:00:00,09:00:00,0,0
2,Computer,1,1,101,indoor,464,29-01-2018,05:00:00,06:00:00,1,16
3,Computer,1,1,101,indoor,389,30-01-2018,01:00:00,02:00:00,8,27
4,Computer,1,1,101,indoor,338,30-01-2018,08:00:00,09:00:00,2,4

In [6]:
# Create a target list based on the mean power level
target_list = []

for index, row in df.iterrows():
    if row['power'] > dicto[row['from_time']][row['device']][row['type']]:
        target_list.append(0)
    else:
        target_list.append(1)

In [7]:
# Append target list to the original dataframe
df['target'] = pd.Series(target_list)

In [8]:
# Convert dataframe to csv
df.to_csv('../data/home_final.csv', index=False)