# Applying Machine Learning and Deep Learning to identify home appliances consuming excess power

## Copyright (c) 2018, Faststream Technologies
## Author: Sudhanva Narayana

In [2]:
# Home Appliances Data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# Import Dataset
df = pd.read_excel('../../data/home.xlsx', sheet_name='Sheet3')

In [8]:
df.head()

  device weather_type           time  priority  order  out
0     AC     low cold  early morning         8     52    0
1     AC     low cold        morning         8     49    0
2     AC     low cold      afternoon         8     48    0
3     AC     low cold        evening         8     50    0
4     AC     low cold          night         8     51    0

In [39]:
df_group = df.groupby(['device', 'weather_type', 'time', 'priority', 'order']).size().to_frame()

In [40]:
df_group

                                                  0
device weather_type time          priority order
AC     cold         afternoon     11       66     1
                    early morning 11       70     1
                    evening       11       68     1
                    midnight      11       71     1
                    morning       11       67     1
                    night         11       69     1
       hot          afternoon     4        25     1
                    early morning 4        29     1
                    evening       4        27     1
                    midnight      4        30     1
                    morning       4        26     1
                    night         4        28     1
       low cold     afternoon     8        48     1
                    early morning 8        52     1
                    evening       8        50     1
                    midnight      8        53     1
                    morning       8        49     1
                    night         8        51     1
       low hot      afternoon     6        37     1
                    early morning 6        41     1
                    evening       6        39     1
                    midnight      6        42     1
                    morning       6        38     1
                    night         6        40     1
       very cold    afternoon     16       96     1
                    early morning 16       100    1
                    evening       16       98     1
                    midnight      16       101    1
                    morning       16       97     1
                    night         16       99     1
...                                              ..
Lights hot          afternoon     17       103    1
                    early morning 10       61     1
                    evening       14       85     1
                    midnight      1        4      1
                    morning       13       79     1
                    night         1        3      1
       low cold     afternoon     17       107    1
                    early morning 10       65     1
                    evening       14       89     1
                    midnight      1        8      1
                    morning       13       83     1
                    night         1        7      1
       low hot      afternoon     17       104    1
                    early morning 10       62     1
                    evening       14       86     1
                    midnight      1        6      1
                    morning       13       80     1
                    night         1        5      1
       very cold    afternoon     17       105    1
                    early morning 10       63     1
                    evening       14       87     1
                    midnight      1        12     1
                    morning       13       81     1
                    night         1        11     1
       very hot     afternoon     17       102    1
                    early morning 10       60     1
                    evening       14       84     1
                    midnight      1        2      1
                    morning       13       78     1
                    night         1        1      1

[108 rows x 1 columns]