In [55]:
# Home Appliances Data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [56]:
# Import Dataset
df = pd.read_csv('../data/home_data.csv')

In [62]:
df.head()

,device,building,floor,room,type,power,date,from_time,to_time,no_of_people,time_stayed_mins
0,AC,1,1,101.0,indoor,1363,2018-01-01,04:00:00,05:00:00,9,7
1,Computer,1,1,101.0,indoor,487,2018-01-27,08:00:00,09:00:00,0,17
2,Computer,1,1,101.0,indoor,464,2018-01-29,05:00:00,06:00:00,1,16
3,Computer,1,1,101.0,indoor,389,2018-01-30,01:00:00,02:00:00,8,27
4,Computer,1,1,101.0,indoor,338,2018-01-30,08:00:00,09:00:00,2,4