In [1]:
# Home Appliances Data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import Dataset
df = pd.read_csv('../data/home_data.csv')

In [44]:
df_devices = df.groupby(['from_time', 'device']).mean()['power']
df_devices = df_devices.reset_index()

In [60]:
df_devices.head()

  from_time     device        power
0  00:00:00         AC  2518.483871
1  00:00:00   Computer   405.483871
2  00:00:00     Heater  2266.258065
3  00:00:00     Lights  2724.322581
4  00:00:00  Microwave  1453.838710