# Applying Machine Learning and Deep Learning to identify home appliances consuming excess power

## Copyright (c) 2018, Faststream Technologies
## Author: Sudhanva Narayana

In [1]:
# Home Appliances Data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import Dataset
df_home_data_test = pd.read_csv('../../data/home_data_predict.csv')
df_home_priority = pd.read_csv('../../data/home_priority.csv')
date_time_group = pd.read_csv('../../data/date_time_group.csv')

In [3]:
df_home_data_test.head()

,device,building,room,weather_type,date,from_time,to_time,time,no_of_people,time_stayed_mins,power
0,Lights,1,101,hot,2018-01-05,01:00:00,02:00:00,midnight,11,11,1496.960792
1,Lights,1,101,hot,2018-01-05,01:00:00,02:00:00,midnight,4,44,1514.745402
2,Lights,1,101,hot,2018-01-05,06:00:00,07:00:00,early morning,7,3,1482.252783
3,Lights,1,101,hot,2018-01-05,07:00:00,08:00:00,morning,2,13,1544.158696
4,Lights,1,101,hot,2018-01-05,07:00:00,08:00:00,morning,1,27,1548.307563

In [4]:
df_home_priority.head()

  device weather_type           time  priority  order
0     AC     low cold  early morning         8     52
1     AC     low cold        morning         8     49
2     AC     low cold      afternoon         8     48
3     AC     low cold        evening         8     50
4     AC     low cold          night         8     51

In [5]:
date_time_group.head()

         date from_time  power
0  2018-01-01  00:00:00  10372
1  2018-01-01  01:00:00   9393
2  2018-01-01  02:00:00  10013
3  2018-01-01  03:00:00  10171
4  2018-01-01  04:00:00  10650

In [6]:
total_power_consumption = df_home_data_test.groupby(['date', 'from_time']).sum()['power'].reset_index()

In [7]:
sample_date = '2018-01-01'
# sample_date_format = '18-01-2018'
sample_time = '10:00:00'

In [8]:
sample_df = df_home_data_test[(df_home_data_test['date'] == sample_date) & (df_home_data_test['from_time'] == sample_time)]
sample_df_priority = df_home_priority[(df_home_priority['device'] == 'AC') & (df_home_priority['weather_type'] == 'low cold') & (df_home_priority['time'] == 'early morning')]

sample_total_power = sample_df['power'].sum()

In [9]:
power = date_time_group[(date_time_group['date'] == sample_date) & (date_time_group['from_time'] == sample_time)]
condition = sample_total_power > power['power'][power['power'].index[0]]

In [10]:
priorities = []

In [11]:
for index, row in sample_df.iterrows():
#     print(row['device'], row['weather_type'], row['time'])
    priorities.append(df_home_priority[(df_home_priority['device'] == row['device']) 
                           & (df_home_priority['weather_type'] == row['weather_type']) 
                           & (df_home_priority['time'] == row['time'])].values[0][4])

In [12]:
priorities = pd.Series(priorities)

In [19]:
sample_df = sample_df.assign(priorities=priorities.values)

In [21]:
sample_df.sort_values('priorities')

,device,building,room,weather_type,date,from_time,to_time,time,no_of_people,time_stayed_mins,power,priorities
3038,AC,6,606,very hot,2018-01-01,10:00:00,11:00:00,morning,8,7,1427.202360,14
3039,AC,6,606,very hot,2018-01-01,10:00:00,11:00:00,morning,9,58,1434.310948,14
351,AC,1,106,hot,2018-01-01,10:00:00,11:00:00,morning,10,59,1432.759956,26
3571,AC,7,706,hot,2018-01-01,10:00:00,11:00:00,morning,15,54,1423.273079,26
3572,AC,7,706,hot,2018-01-01,10:00:00,11:00:00,morning,6,22,1433.248601,26
4601,AC,9,906,low hot,2018-01-01,10:00:00,11:00:00,morning,1,3,1438.578880,38
883,AC,2,206,low cold,2018-01-01,10:00:00,11:00:00,morning,11,38,1427.398748,49

,device,building,room,weather_type,date,from_time,to_time,time,no_of_people,time_stayed_mins,power
3038,AC,6,606,very hot,2018-01-01,10:00:00,11:00:00,morning,8,7,1427.202360
3039,AC,6,606,very hot,2018-01-01,10:00:00,11:00:00,morning,9,58,1434.310948