# Applying Machine Learning and Deep Learning to identify home appliances consuming excess power

## Copyright (c) 2018, Faststream Technologies
## Author: Sudhanva Narayana

In [1]:
# Home Appliances Data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import Dataset
df_home_data_test = pd.read_csv('../../data/home_data_predict.csv')
df_home_priority = pd.read_csv('../../data/home_priority.csv')
date_time_group = pd.read_csv('../../data/date_time_group.csv')

In [3]:
df_home_data_test.head()

  device  room weather_type        date from_time   to_time           time  \
0     AC   100          hot  2018-01-01  00:00:00  01:00:00       midnight
1     AC   100    very cold  2018-01-01  00:00:00  01:00:00       midnight
2     AC   100         cold  2018-01-01  02:00:00  03:00:00       midnight
3     AC   100         cold  2018-01-01  03:00:00  04:00:00       midnight
4     AC   100    very cold  2018-01-01  05:00:00  06:00:00  early morning

   no_of_people  time_stayed_mins        power
0             3                21  1528.898438
1            10                 5  1512.648438
2             4                22  1521.007812
3             3                 5  1499.714844
4             2                35  1507.480469

In [4]:
df_home_priority.head()

  device weather_type           time  priority  order
0     AC     low cold  early morning         8     52
1     AC     low cold        morning         8     49
2     AC     low cold      afternoon         8     48
3     AC     low cold        evening         8     50
4     AC     low cold          night         8     51

In [5]:
date_time_group.head()

         date from_time  power
0  2018-01-01  00:00:00  10372
1  2018-01-01  01:00:00   9393
2  2018-01-01  02:00:00  10013
3  2018-01-01  03:00:00  10171
4  2018-01-01  04:00:00  10650

In [6]:
total_power_consumption = df_home_data_test.groupby(['date', 'from_time']).sum()['power'].reset_index()

In [7]:
sample_date = '2018-01-01'
# sample_date_format = '18-01-2018'
sample_time = '10:00:00'

In [8]:
sample_df = df_home_data_test[(df_home_data_test['date'] == sample_date) & (df_home_data_test['from_time'] == sample_time)]
sample_df_priority = df_home_priority[(df_home_priority['device'] == 'AC') & (df_home_priority['weather_type'] == 'low cold') & (df_home_priority['time'] == 'early morning')]

sample_total_power = sample_df['power'].sum()

In [9]:
power = date_time_group[(date_time_group['date'] == sample_date) & (date_time_group['from_time'] == sample_time)]
condition = sample_total_power > power['power'][power['power'].index[0]]

In [10]:
priorities = []

In [11]:
for index, row in sample_df.iterrows():
#     print(row['device'], row['weather_type'], row['time'])
    priorities.append(df_home_priority[(df_home_priority['device'] == row['device']) 
                           & (df_home_priority['weather_type'] == row['weather_type']) 
                           & (df_home_priority['time'] == row['time'])].values[0][4])

In [12]:
priorities = pd.Series(priorities)

In [13]:
sample_df = sample_df.assign(priorities=priorities.values)

In [14]:
sample_priorities = sample_df.sort_values('priorities')

In [15]:
power

          date from_time  power
10  2018-01-01  10:00:00  10160

In [16]:
sample_total_power

10411.42578125

In [17]:
sample_priorities.assign(diff=sample_priorities['power'] / sample_priorities['time_stayed_mins'])

,device,room,weather_type,date,from_time,to_time,time,no_of_people,time_stayed_mins,power,priorities,diff
2183,AC,108,very hot,2018-01-01,10:00:00,11:00:00,morning,3,51,1496.125000,14,29.335784
6,AC,100,low hot,2018-01-01,10:00:00,11:00:00,morning,14,47,1514.121094,38,32.215342
1883,AC,107,low cold,2018-01-01,10:00:00,11:00:00,morning,12,27,1519.156250,49,56.265046
1882,AC,107,cold,2018-01-01,10:00:00,11:00:00,morning,14,15,1492.652344,67,99.510156
7,AC,100,very cold,2018-01-01,10:00:00,11:00:00,morning,3,22,1482.558594,97,67.389027
810,AC,103,very cold,2018-01-01,10:00:00,11:00:00,morning,2,28,1448.660156,97,51.737863
4423,AC,117,very cold,2018-01-01,10:00:00,11:00:00,morning,14,29,1458.152344,97,50.281115