# Applying Machine Learning and Deep Learning to identify home appliances consuming excess power

## Copyright (c) 2018, Faststream Technologies
## Author: Sudhanva Narayana

In [1]:
# Home Appliances Data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import Dataset
df_home_data_test = pd.read_csv('../../data/home_data_predict.csv')
df_home_priority = pd.read_csv('../../data/home_priority.csv')
date_time_group = pd.read_csv('../../data/date_time_group.csv')

In [3]:
df_home_data_test.head()

,device,building,room,weather_type,date,from_time,to_time,time,no_of_people,time_stayed_mins,power
0,Lights,1,101,hot,2018-01-05,01:00:00,02:00:00,midnight,11,11,1496.960792
1,Lights,1,101,hot,2018-01-05,01:00:00,02:00:00,midnight,4,44,1514.745402
2,Lights,1,101,hot,2018-01-05,06:00:00,07:00:00,early morning,7,3,1482.252783
3,Lights,1,101,hot,2018-01-05,07:00:00,08:00:00,morning,2,13,1544.158696
4,Lights,1,101,hot,2018-01-05,07:00:00,08:00:00,morning,1,27,1548.307563

In [4]:
df_home_priority.head()

  device weather_type           time  priority  order
0     AC     low cold  early morning         8     52
1     AC     low cold        morning         8     49
2     AC     low cold      afternoon         8     48
3     AC     low cold        evening         8     50
4     AC     low cold          night         8     51

In [5]:
date_time_group.head()

         date from_time  power
0  2018-01-01  00:00:00  10372
1  2018-01-01  01:00:00   9393
2  2018-01-01  02:00:00  10013
3  2018-01-01  03:00:00  10171
4  2018-01-01  04:00:00  10650

In [6]:
total_power_consumption = df_home_data_test.groupby(['date', 'from_time']).sum()['power'].reset_index()

In [7]:
sample_date = '2018-01-01'
sample_date_format = '18-01-2018'
sample_time = '20:00:00'

In [8]:
sample_df = df_home_data_test[(df_home_data_test['date'] == sample_date) & (df_home_data_test['from_time'] == sample_time)]
sample_total_power = sample_df['power'].sum()

In [9]:
power = date_time_group[(date_time_group['date'] == sample_date) & (date_time_group['from_time'] == sample_time)]
condition = sample_total_power > power['power'][power['power'].index[0]]

In [10]:
sample_df_priorities = sample_df.merge(df_home_priority, on=['device', 'weather_type', 'time'])

In [11]:
sample_df_priorities

,device,building,room,weather_type,date,from_time,to_time,time,no_of_people,time_stayed_mins,power,priority,order
0,AC,1,106,hot,2018-01-01,20:00:00,21:00:00,night,6,17,1448.693116,4,28
1,AC,1,106,hot,2018-01-01,20:00:00,21:00:00,night,11,3,1437.647515,4,28
2,AC,3,306,hot,2018-01-01,20:00:00,21:00:00,night,13,56,1443.378302,4,28
3,AC,3,306,hot,2018-01-01,20:00:00,21:00:00,night,0,0,1456.093962,4,28
4,AC,7,706,hot,2018-01-01,20:00:00,21:00:00,night,9,3,1441.095882,4,28
5,AC,2,206,low cold,2018-01-01,20:00:00,21:00:00,night,4,34,1455.085741,8,51
6,AC,8,806,low hot,2018-01-01,20:00:00,21:00:00,night,6,19,1449.039500,6,40