# Applying Machine Learning and Deep Learning to identify home appliances consuming excess power

## Copyright (c) 2018, Faststream Technologies
## Author: Sudhanva Narayana

In [1]:
# Home Appliances Data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Import Dataset
df_home_data_test = pd.read_csv('../../data/home_data_predict.csv')
df_home_priority = pd.read_csv('../../data/home_priority.csv')
date_time_group = pd.read_csv('../../data/date_time_group.csv')

In [5]:
df_home_data_test.head()

,device,building,room,weather_type,date,from_time,to_time,time,no_of_people,time_stayed_mins,power
0,AC,1,101,very hot,2018-01-02,14:00:00,15:00:00,afternoon,7,27,1497.122353
1,AC,1,101,very hot,2018-01-03,01:00:00,02:00:00,midnight,11,32,1418.397340
2,AC,1,101,very hot,2018-01-03,02:00:00,03:00:00,midnight,0,0,1472.697586
3,AC,1,101,very hot,2018-01-03,11:00:00,12:00:00,morning,7,4,1455.343591
4,AC,1,101,very hot,2018-01-03,18:00:00,19:00:00,evening,2,17,1505.829679

In [6]:
df_home_priority.head()

  device weather_type           time  priority  order
0     AC     low cold  early morning         8     52
1     AC     low cold        morning         8     49
2     AC     low cold      afternoon         8     48
3     AC     low cold        evening         8     50
4     AC     low cold          night         8     51

In [7]:
date_time_group.head()

         date from_time  power
0  2018-01-01  00:00:00   9556
1  2018-01-01  01:00:00   8512
2  2018-01-01  02:00:00  10947
3  2018-01-01  03:00:00  12376
4  2018-01-01  04:00:00  10260

In [22]:
total_power_consumption = df_home_data_test.groupby(['date', 'from_time']).sum()['power'].reset_index()

In [71]:
sample_date = '2018-01-01'
sample_date_format = '01-01-2018'
sample_time = '03:00:00'

In [72]:
sample_df = df_home_data_test[(df_home_data_test['date'] == sample_date) & (df_home_data_test['from_time'] == sample_time)]
sample_total_power = sample_df['power'].sum()

In [90]:
power = date_time_group[(date_time_group['date'] == sample_date_format) & (date_time_group['from_time'] == sample_time)]

condition = sample_total_power > power['power'][power['power'].index[0]]

In [108]:
sample_df_priorities = sample_df.merge(df_home_priority, on=['device', 'weather_type', 'time'])

sample_df_priorities = sample_df_priorities[['device', 'building', 'room', 'no_of_people', 'time_stayed_mins', 'order']]

In [109]:
sample_df_priorities

  device  building  room  no_of_people  time_stayed_mins  order
0     AC        17  1707             0                 0     30
1     AC        31  3106             0                 0     42
2     AC        33  3305             3                 4     42
3     AC        59  5904             5                11     42
4     AC        83  8302             8                14     42
5     AC        48  4803             4                22    101
6     AC        85  8505             8                29     18